.search-box {
  margin-bottom: 2rem;
}

.search-panel {
  width: calc(98% - 250px);;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.results {
  display: flex;
  gap: 30px;
}

.loader {
  margin: 12rem auto ;
}
