img.item-img {
  width: 160px;
  border-radius: 14px;
}

.item-container {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.item-details {
  margin-top: 1.5rem;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.item-author {
  font-size: 14px;
}
