.books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px 15px;
  margin-top: 2rem;
}

.show-more {
  width: 250px;
  margin: 2rem auto;
}

.sliders {
  margin-top: 2rem;
}
