.header-container {
  max-width: 1300px;
  margin: 0 auto;
  color: #9698c3;
  height: 70px;
  display: flex;
  align-items: center;
}

.header-bkgd {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  background: white;
  margin-bottom: 1rem;
}

.logo {
  font-size: 34px;
  font-weight: 800;
}

.logo::before {
  content: '✒';
  font-size: 38px;
  padding: 0.5rem;
}
