em {
  background: cyan;
  font-style: normal;
}
body { font-family: sans-serif; padding: 1em; }
/*.ais-SearchBox { margin: 1em 0; }*/
/*.ais-Pagination { margin-top: 1em }*/
.left-panel { float: left; width: 250px; }
/*.right-panel { margin-left: 260px; }*/


.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.results {
  display: flex;
  gap: 30px;
}
